<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>API</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>

    <div id="app" class="container">
      <div class="row">
        <div class="col-sm-9">
          <form @submit.prevent="leerAPI()">
            <label class="control-label">cantiadad de resultado</label>
            <input type="text" v-model="cantidad" class="form-control">
            <button type="submit" class="btn btn-primary">Mostrar</button>
          </form>
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Imagen</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="usuario in usuarios">
              <th>{{usuario.id}}</th>
              <th>{{usuario.first_name}}</th>
              <th>{{usuario.last_name}}</th>
              <th><img :src="usuario.avatar"></th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



  </body>
  <script>
    new Vue({
      el:'#app',
      data:{
        usuarios:[],
        cantidad:5
      },
      methods:{
       leerAPI(){
         axios.get('https://reqres.in/api/users',{
           params:{
             'per_page':this.cantidad
           }
         }).then(reponse=>{
            this.usuarios=reponse.data.data
         }).catch(e=>{
           console.log(e)
         })
       }
      },
      created() {
        this.leerAPI()
      }
    })
  </script>
</html>
