<template>
    <div class="row">
        <div class="col-sm-12">
            <form @submit.prevent="leerAPI">
                <label class="control-label" style="color: white">cantiadad de resultado</label>
                <input type="text" v-model="cantidad" class="form-control">
                <button type="submit" class="btn btn-primary">Mostrar</button>
            </form>
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Imagen</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="usuario in usuarios" :key="usuario.id">
                            <th>{{usuario.id}}</th>
                            <th>{{usuario.first_name}}</th>
                            <th>{{usuario.last_name}}</th>
                            <th><img :src="usuario.avatar"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
export default {
    name:'ListApi',
    data(){
        return{
            usuarios:[],
            cantidad:5
        }
    },
    methods:{
        leerAPI(){
            this.axios.get('https://reqres.in/api/users',{
                params: {
                    'per_page': this.cantidad
                }

            }).then(response =>{
                this.usuarios=response.data.data
            }).catch(e=>{
                console.log(e)
            })
        }
    },
    created() {
        this.leerAPI()
    }
}
</script>
<style>

</style>