<template>
    <div class="login-box">
        <img src="../assets/logo.png" class="avatar" alt="Avatar Image">
        <h1>Login Here</h1>
        <form>
            <!-- USERNAME INPUT -->
            <label for="username">Username</label>
            <input type="text" placeholder="Enter Username">
            <!-- PASSWORD INPUT -->
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password">
            <input type="submit" value="Log In">
            <a href="#">Lost your Password?</a><br>
            <a href="#">Don't have An account?</a>
        </form>
    </div>

</template>
<script>
    export default {
        name: 'Login',
    }

</script>
<style>
    body {
        margin: 0;
        padding: 0;
        background: url("../assets/bg.jpeg") no-repeat center top;
        background-size: cover;
        font-family: sans-serif;
        height: 100vh;
    }

    .login-box {
        width: 320px;
        height: 420px;
        background: #000;
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
    }

    .login-box .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }

    .login-box h1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }

    .login-box label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
    }

    .login-box input {
        width: 100%;
        margin-bottom: 20px;
    }

    .login-box input[type="text"], .login-box input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }

    .login-box input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        background: #b80f22;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }

    .login-box input[type="submit"]:hover {
        cursor: pointer;
        background: #ffc107;
        color: #000;
    }

    .login-box a {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgrey;
    }

    .login-box a:hover {
        color: #fff;
    }
</style>